.appContainer {
  background-color: pink;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


  .app {
    max-width: 800px;
    min-width: 320px;
    width: 100%;
    height: 80vh;
    border-radius: 8px;
    overflow: hidden;

    .appHeader {
      background-color: rgb(219, 219, 219);
      padding: 1rem;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      height: 100%;

      & aside {
        background-color: rgb(219, 219, 219);
        flex-grow: 1;
        min-width: 250px;
        max-width: 40%;
      }

      .userList {
        background-color: rgb(199, 199, 199);
        flex-grow: 1;


        .userListControls {
          display: flex;
        }

        .listWrapper {
          box-sizing: border-box;
          position: relative;
          overflow: hidden;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          align-items: start;
          height: 100%;
          color: gray;
          padding: 8px;
          gap: 8px;

          & h1 {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

  }
}