.listRow {
  flex-basis: auto;
  width: 100%;
  background-color: rgb(238, 238, 238);
  padding: 8px;
  border-radius: 4px;
  display: flex;

  .labelsContainer {
    flex-grow: 1;

    & div {
      display: flex;

      & label {
        margin-right: 8px;
        min-width: 60px;
      }
    }


  }

  .listRowControls {
    min-width: 80px;
    display: flex;
    justify-content: center;
    gap: 4px;

    & button {
      all: unset;
      flex-grow: 1;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
      background-color: var(--btn-bg-color);
      text-align: center;
      font-weight: 500;
      border: inset 1px var(--btn-bg-color);
      color: black;

    }

    & button[name="delete"] {
      background-color: var(--btn-delete-bg-color);
    }

    & button[name="edit"]:hover {
      background-color: rgb(111, 255, 133);
    }

    & button[name="delete"]:hover {
      background-color: var(--btn-delete-hover-color);
    }
  }
}